* { 
    margin:0px; 
    padding:0px; 
    box-sizing:border-box; 
}

header {
    background-color: #0A3977;
    width: 100%;
    height: 100px;
    margin: 0%;

}

header img {
  position: absolute;
  left: 50px;
  top: 10px;
}

/* -------------Gif------------ */

.box_pokemonGO {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}


.box_pokemonGO div{
    background-image: url('assets/img/PokemonGO.gif');
    height: 400px;
    width: 800px;
    background-size: cover;
    background-position: center;
}

/* --------------Sidebar First version------------ */

.menu {
    width: 2.2rem;
    height: 2.7rem;
    background: #0A3977;
    border-radius: 0.5rem;
    position: absolute;
    top: 4.5%;
    left: 0%;
    font-size: 2rem;
    color: white;
    text-align: center;
    transition: left 0.7s;
    border: 1px solid white;

}

.checkbox:checked ~ .menu {
    left: 40%;
    border-radius: 0.5rem;
}

.left_panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #9ED0E5 ;
    width: 40%; 
    height: auto;
    position: absolute;
    top: 0;
    left: -40%; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;
    z-index: 2;
    list-style: none;
}

.checkbox:checked ~ .left_panel{
    left: 0;
}

.checkbox {
    display: none;
}

.left_panel li {
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    color: white;
}

#logo_sidebar {
    width: 75px;
    height: 38px;
}


/* ---------Dropdown--------- */

.dropbtn {
    background-color: #3482A4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    z-index: 1;
  }

/* -------------------- */

  #dropdown_debility {
    position: relative;
    display: inline-block;
  }

  #dropdown_attack {
    position: relative;
    display: inline-block;
  }

  #dropdown_defense {
    position: relative;
    display: inline-block;
  }
  
  #dropdown_more {
    position: relative;
    display: inline-block;
  }

/* -------------------- */

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown_content a:hover {background-color: #ddd;}

/* ------------------- */

#dropdown_debility:hover .dropdown_content {display: block;}

#dropdown_attack:hover .dropdown_content {display: block;}

#dropdown_defense:hover .dropdown_content {display: block;}

#dropdown_more:hover .dropdown_content {display: block;}

/* ------------------- */

#dropdown_debility:hover .dropbtn {background-color: #08224E;}

#dropdown_attack:hover .dropbtn {background-color: #08224E;}

#dropdown_defense:hover .dropbtn {background-color: #08224E;}

#dropdown_more:hover .dropbtn {background-color: #08224E;}


/* ------------------All pokemon--------------- */

#pokemon {
  display: flex;
  flex-wrap:wrap;
  /* border: 1px solid blue; */
  justify-content: space-around;
}

#pokemon div{
  /* display: inline-block; */
  padding: 20px;
  width: 250px;
  height: 230px;
  margin-top:50px;
  border: 1px solid red;
}

/* ------------------Types pokemon--------------- */

#pokemon_type {
  display: flex;
  flex-wrap:wrap;
  /* border: 1px solid blue; */
  justify-content: space-around;
}

#pokemon_type div{
  /* display: inline-block; */
  padding: 20px;
  width: 250px;
  height: 230px;
  margin-top:50px;
  border: 1px solid red;
}

/* -----------------------Top Ten----------------------- */
#top_ten{
  display: flex;
  flex-wrap:wrap;
  /* border: 1px solid blue; */
  justify-content: space-around;
  width: 800px;
}

#top_ten div{
/* display: inline-block; */
  padding: 20px;
  width: 250px;
  height: 230px;
  margin-top:50px;
  border: 1px solid red;
}